# django
django >= 4.0.4, < 4.1
crispy-bootstrap5 >= 0.6, < 1.0
django-allauth >= 0.50.0, < 0.60
django-crispy-forms >= 1.14.0, < 1.15
django-environ >= 0.8.1, < 0.9
django-model-utils >= 4.2.0, < 4.3

# redis
django-redis >= 5.2.0, < 5.3
hiredis >= 2.0.0, < 2.1  # Ubuntu: sudo apt-get install -y libhiredis-dev
redis >= 4.2.2, < 4.3  # Ubuntu: sudo apt-get install -y redis-server

# others
argon2-cffi >= 21.3.0, < 21.4
pillow >= 9.1.0, < 9.2
python-slugify >= 6.1.1, < 6.2
typed-settings >= 1.0.1, < 1.1
uvicorn[standard] >= 0.17.6, < 0.18
